@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


table, th, td {
  border: 1px solid black;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
color: white;
background-image: url("https://images.pexels.com/photos/1231643/pexels-photo-1231643.jpeg");
background-position: center center; 
background-size: 100% 100%; 
width: 500px;
height: 700px;
font-family: 'Kdam Thmor Pro'; 
}

body {
background-color: LightCyan;
    }
